:root {
    --gradient: linear-gradient(to right, #2AF598, #009EFD);
    --color: #FCF9BF;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #2C2C2C;
}

a {
    text-decoration: none;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

::before,
::after {
    position: absolute;
    content: "";
}


.container {
    max-width: 1200px;
    padding: 1em 1em 1em 0;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    width: 4em;
}

.menu_list {
    display: flex;
    justify-content: space-around;
    gap: 10em;
    list-style: none;

}

.menu_list li {
    border: 2px solid transparent;
}

.menu_list li:hover {
    border-bottom: 2px solid var(--color);
    transition: 0.3s ease-in;
}

.menu_link {
    color: #E4E4E4;
}

.first-screen .container {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10em;
}

.fs_title {
    font-size: 3em;
    color: #fff;
}

.fs_text {
    color: #E4E4E4;
    line-height: 1.5em;
}

.fs_btn {
    margin-top: 2em;
    width: 8em;
    height: 2.5em;
    background: #2C2C2C;
    border: 1px solid var(--gradient);
    box-shadow: 0px 2px 10px var(--color);
    border-radius: 0.5em;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.fs_btn::before {
    background: var(--gradient);
    border-radius: 0.5em;
    transition: 0.3s ease-out;
    top: 0;
    bottom: 0;
    left: 0;
    width: 8em;
    height: 2.5em;
}

.fs_btn span {
    color: var(--color);
    font-size: 1.1em;
    position: relative;
    display: inline-block;
    font-weight: bold;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s;
}


.fs_btn span:hover {
    transition: 0.2s 0.1s;
}

.fs_btn:hover::before {
    width: 0%;
}


.fs_picture {
    position: relative;
}

.drop_shadow {
    position: absolute;
    top: 2em;
    left: 5em;
    width: 400px;
    height: 400px;
    border: 2.5em solid #00C4F0;
    border-radius: 999px;
    filter: drop-shadow(0px 0px 152px rgba(0, 196, 240, 0.42));
}

.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    border-radius: 999px;
    text-align: center;
}

.circle span {
    display: inline-block;
    color: #00C4F0;
    padding-top: 1.7em;
    font-size: 0.7em;
    font-weight: 2em;
}

.circle_html {
    top: 3em;
    left: 7.3em;
}

.circle_css {
    top: 9em;
    left: 3.5em;
}

.circle_js {
    top: 16em;
    left: 3em;
}

.soft_skills .container {}

.skills_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card_work {
    width: 10em;
    height: 10em;
}

.about_me {
    margin-top: 8em;
}

.about_me .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
}

.about-me_left {}

.left_photos {}

.about-me_center {
    border: 3px solid black;
    padding: 1em;
    border-radius: 2em;
    color: #fff;
}

.about-center_title {
    font-size: 3em;
    position: absolute;
    top: -1.2em;
    left: 8.5em;
}

.about-center_text {
    line-height: 1.7em;
}

.about-me_right {}

.right_photo {}