@media all and (max-width:1050px) {
    .about_me .container {
        display: flex;
    }

    .about-me_left {
        display: none;
    }
}



@media all and (max-width:991px) {
    .menu_list {
        gap: 6em;
    }

    .first-screen .container {
        grid-gap: 3em;
    }

    .fs_title {
        font-size: 2em;
    }

    .first-screen .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fs_picture {
        margin-right: 5em;
    }

    .zakhar_img {
        position: relative;
    }

    .drop_shadow {
        position: relative;
    }

    .slider_container {
        width: 85%;
        margin-left: 4em;
    }

    .footer_nav {
        gap: 3em;
        font-size: 0.7em;
    }

    .footer_nav a {
        padding-top: 0.5em;
    }

    .footer_copyright {
        font-size: 0.7em;
    }
}

@media all and (max-width:767px) {
    .slider_container {
        width: 50%;
        margin-left: 11em;
        border-radius: 1em;
    }

    .slider_item {
        padding-left: 1em;
    }
}

@media all and (max-width: 684px) {
    #photo {
        display: none;
        margin-top: 0;
    }

    .waves {
        display: none;
    }

    .footer .container {
        background-color: transparent;
        margin-top: 3em;
    }

    .about_me .container {
        margin-left: 1em;
    }

    .footer_nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer_menu {
        display: flex;
        gap: 1em;
    }

    .footer_contact {
        display: flex;
        flex-direction: column;
        margin-top: -2em;
    }

    .footer_content {
        display: block;
    }

    .footer_copyright {
        padding-top: 1em;
        padding-left: 3.5em;
    }
}

@media all and (max-width: 415px) {
    .menu_list {
        font-size: 1em;
        justify-content: space-between;
        gap: 3em;
        font-size: 0.5em;
    }

    .first-screen .container {
        display: block;
        text-align: center;
    }

    .fs_title {
        font-size: 1.5em;
    }

    .fs_text {
        font-size: 1em;
    }

    .fs_picture {
        display: none;
    }

    .about_me .container {
        display: block;
    }

    .about-center_title {
        font-size: 2em;
    }

    .about-center_text {
        font-size: 1em;
    }

    .about-me_right {
        margin-top: 1em;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .photo-slider {
        display: none;
    }

    .footer .container {
        background-color: transparent;
        margin: 0;
        padding: 0;
    }

    .waves {
        display: none;
    }

}